.booking {
  min-height: 555px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #bfe1ff;
  background-image: url("../img/background-form-desktop.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
    background-image: url("../img/background-form-desktop@2x.webp");
  }

  @include vp-1023 {
    min-height: 805px;
    padding: 88px 0;
    background-image: url("../img/background-form-tablet.webp");

    @include retina {
      background-image: url("../img/background-form-tablet@2x.webp");
    }
  }

  @include vp-767 {
    min-height: 760px;
    padding: 56px 0 69px;
    background-image: url("../img/background-form-mobile.webp");

    @include retina {
      background-image: url("../img/background-form-mobile@2x.webp");
    }
  }
}

.booking__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  min-width: 924px;
  padding: 0 110px;

  @include vp-1023 {
    flex-direction: column;
    max-width: 770px;
    min-width: 420px;
    margin: 0 auto;
    padding: 0 175px;
  }

  @include vp-767 {
    max-width: 737px;
    min-width: 290px;
  }
}

.booking__inner {
  margin: auto 0;
  padding-right: 20px;

  @include vp-1023 {
    padding: 0;
  }
}

.booking__inner h2 {
  max-width: 493px;
  min-width: 430px;
  margin: 0;
  padding: 0 0 8px;
  font-family: $ff-montserrat-bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1023 {
    max-width: 430px;
    min-width: 419px;
    margin: 0 auto;
    padding-bottom: 6px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-767 {
    max-width: 300px;
    min-width: 194px;
    padding-bottom: 13px;
    font-size: 24px;
    line-height: 31px;
    align-items: center;
    text-align: center;
  }
}

.booking__inner p {
  margin: 0;
  padding: 0 0 5px;
  width: 355px;
  font-size: 18px;
  line-height: 27px;

  & br {
    display: none;
  }

  @include vp-1023 {
    margin: 0 auto;
    padding: 0 0 51px;
    text-align: center;
  }

  @include vp-767 {
    max-width: 100%;
    min-width: 257px;
    padding: 0 15px 34px;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;

    & br {
      display: block;
    }
  }
}
