.btn {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 10px 20px;
  font-family: $ff-montserrat-semibold;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: $color-default-black;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--to-book {
  margin-top: 15px;
  text-align: center;
}

.btn--form-send {
  min-height: 43px;
}
