.contacts {
  margin: 0 auto;
  padding: 120px 0 113px;

  @include vp-1023 {
    padding: 100px 0 93px;
  }

  @include vp-767 {
    padding: 54px 0 58px;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  min-width: 924px;
  padding-right: 61px;

  @include vp-1023 {
    max-width: 933px;
    min-width: 678px;
  }

  @include vp-767 {
    flex-direction: column-reverse;
    max-width: 737px;
    min-width: 290px;
  }
}

.contacts__map {
  // max-width: 560px;
  // min-width: 460px;

  // @include vp-1023 {
  //   max-width: 400px;
  //   min-width: 324px;
  // }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
  }
}

.contacts__map-inner {
  max-width: 560px;
  min-width: 460px;
  min-height: 306px;
  margin-right: 20px;

  background-image: url("../img/map-desktop.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
    background-image: url("../img/map-desktop@2x.webp");
  }

  @include vp-1023 {
    max-width: none;
    min-width: auto;
    width: 324px;
    height: 335px;
    margin-right: 30px;
    background-image: url("../img/map-tablet.webp");
    background-position: 19.7% 0;

    @include retina {
      background-image: url("../img/map-tablet@2x.webp");
    }
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
    margin: 0;
    background-image: url("../img/map-mobile.webp");
    background-position: 25.5% 0;

    @include retina {
      background-image: url("../img/map-mobile@2x.webp");
    }
  }
}

.contacts__inner {
  max-width: 500px;
  min-width: 380px;
  margin: auto 0;

  @include vp-1023 {
    max-width: 500px;
    min-width: 324px;
  }

  @include vp-767 {
    max-width: 450px;
    min-width: 290px;
    margin: 0 auto;
    padding-bottom: 26px;
  }
}

.contacts__questions {
  margin: 0;
  padding: 0 0 32px;
  font-family: $ff-montserrat-medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    padding-bottom: 30px;

    & br {
      display: none;
    }
  }

  @include vp-767 {
    margin: 0 auto;
    padding-bottom: 28px;
  }
}

.contacts__address {
  padding-bottom: 7px;

  @include vp-1023 {
    padding-bottom: 9px;
  }
}

.contacts__text {
  margin: 0;
  position: relative;
  padding: 0 0 21px 28px;
  font-style: normal;

  @include vp-1023 {
    padding-bottom: 21px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.contacts__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 22px;
  background-image: url("../img/svg/icon-map-marker.svg");

  @include vp-767 {
    top: 3px;
  }
}

.contacts__text--phone::before {
  height: 18px;
  background-image: url("../img/svg/icon-phone.svg");

  @include vp-767 {
    top: 0;
  }
}
