.directions {
  margin: 0 auto;
  padding: 120px 0 145px;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0 85px;
  }
}

.directions__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  min-width: 924px;

  @include vp-1023 {
    max-width: 928px;
    min-width: 673px;
    padding-right: 50px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 737px;
    min-width: 290px;
  }
}

.directions__inner {
  margin: auto 0;
  padding-right: 20px;

  @include vp-767 {
    margin: 0 auto;
    padding: 0;
  }
}

.directions__title {
  max-width: 512px;
  min-width: 431px;
  margin: 0;
  padding: 0 0 35px;
  font-family: $ff-montserrat-semibold;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    max-width: 400px;
    min-width: 205px;
    font-size: 26px;
    line-height: 36px;
    padding: 0 0 25px;
  }

  // @include vp-767 {
  //   max-width: 717px;
  //   min-width: 270px;
  //   padding: 150px 0 0;
  // }
}

.directions__text {
  margin: 0;
  max-width: 512px;
  min-width: 431px;

  @include vp-1023 {
    max-width: 570px;
    min-width: 324px;
  }

  @include vp-767 {
    max-width: 717px;
    min-width: 290px;
    padding-bottom: 50px;
  }
}

.directions__content {
  margin: auto 0;

  @include vp-1023 {
    min-width: 324px;
    margin: 0;
  }

  @include vp-767 {
    min-width: 290px;
    margin: 0 auto;
  }
}
