.main-footer {
  margin: 0 auto;
  padding: 50px 0;
  background-color: $color-default-black;

  @include vp-1023 {
    padding: 48px 0 52px;
  }

  @include vp-767 {
    padding: 40px 0 46px;
  }
}

.main-footer__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  min-width: 924px;

  @include vp-1023 {
    max-width: 933px;
    min-width: 768px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 737px;
    min-width: 290px;
  }
}

.main-footer__logo {
  width: 70px;
  height: 38px;
  fill: $color-default-white;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.main-footer__logo:hover {
  opacity: 0.7;
}

.main-footer__logo:active {
  opacity: 0.4;
}

.main-footer__link-logo {
  display: block;
  width: 70px;
  height: 38px;
  margin: auto 0;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }
}
