.main-header {
  position: absolute;
  z-index: 10;
}

.main-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  min-width: 924px;
  min-height: 108px;
  margin: 0 auto;

  @include vp-1023 {
    max-width: 933px;
    min-width: 678px;
    min-height: 80px;
  }

  @include vp-767 {
    position: relative;
    max-width: 737px;
    min-width: 290px;
    min-height: 62px;
  }
}

.main-header__link-logo {
  display: block;
  padding: 35px 0;

  & .main-header__logo {
    fill: $color-default-white;
  }

  @include vp-1023 {
    padding: 30px 0;
  }

  @include vp-767 {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 5;
    padding: 0;
  }
}

.main-header__logo {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.main-header__link-logo--opened-mobile {
  @include vp-767 {
    left: 35px;

    & .main-header__logo {
      fill: $color-default-black;
    }
  }
}

.main-header--nojs {
  @include vp-767 {
    position: relative;

    & .main-header__logo {
      fill: $color-default-black;
    }

    & .main-nav__list {
      position: relative;
      top: 25px;
      left: 0;
    }
  }
}
