.main-nav {
  padding: 35px 0 39px;

  @include vp-1023 {
    padding: 25px 0 30px;
  }
}

.main-nav__toggle {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 3;
    display: block;
    width: 24px;
    height: 14px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.main-nav__toggle:active {
  opacity: 0.5;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $color-default-white;
  box-shadow: 0 6px 0 0 $color-default-white, 0 12px 0 0 $color-default-white;
}

.main-nav--closed .main-nav__wrapper {
  display: block;

  @include vp-767 {
    display: none;
  }
}


@include vp-767 {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: relative;
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 25px;
  right: 0;
  width: 15px;
  height: 15px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -3px;
    width: 19px;
    height: 2px;
    background-color: $color-default-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 35px;
  height: 100vh;
  background-color: #002b66;
  opacity: 0.5;
}

.main-nav--opened .main-nav__wrapper {
  @include vp-767 {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    max-width: 732px;
    min-width: 285px;
    height: 100vh;
    border-top: 50px solid transparent;
    background-color: $color-default-white;
  }
}

.main-nav__list {
  @include vp-767 {
    position: absolute;
    top: 25px;
    left: 15px;
  }
}
