.site-list {
  display: flex;
  max-width: 700px;
  min-width: 594px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    max-width: 550px;
    min-width: 503px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 550px;
    min-width: 290px;
  }
}

.site-list__item {
  display: block;
  margin-right: 33px;
  list-style-type: none;

  @include vp-1023 {
    margin-right: 24px;
  }

  @include vp-767 {
    margin: 0 0 26px 0;
  }

  &:last-child {
    margin: 0;
  }
}

.site-list__item--footer {
  @include vp-767 {
    margin-bottom: 8px;
  }
}

.site-list__button {
  padding: 0;
  border: none;
  background: none;
  font-family: $ff-montserrat-medium;
  font-weight: 500;
  line-height: 20px;
  color: $color-default-white;
  cursor: pointer;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 15px;
  }
}

.site-list__button--mobile {
  @include vp-767 {
    font-family: $ff-montserrat-medium;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-black;
  }
}

.site-list__button--footer {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.site-list__button:hover {
  opacity: 0.7;
}

.site-list__button:active {
  opacity: 0.5;
}
