.social {
  padding-top: 11px;

  @include vp-1023 {
    padding: 2px 0 0;
  }

  @include vp-767 {
    margin: 0 auto 0 0;
  }
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: auto;
  gap: 26px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: 12px 16px 16px;
    gap: 22px;
  }

  @include vp-767 {
    gap: 21px;
  }
}

.social__item {
  display: block;
  list-style-type: none;
}

.social__link {
  display: block;
  margin: 0;
  padding: 0;
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.social__icon--ok {
  width: 12px;

  @include vp-1023 {
    width: 10px;
    margin: 0 0 0 auto;
  }

  @include vp-767 {
    margin: 0 auto 0 0;
  }
}
